*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
    background-color: #1137ca;
}

@font-face{
    font-family: a;
    src: url(fonts/jost-variable.ttf);
}
@font-face{
    font-family: b;
    src:url(fonts/font1.ttf)
}
@font-face{
    font-family: c;
    src: url(fonts/font2.ttf);
}
#page1{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 10vh;
    width: 100vw;
    position: absolute;
}

#page1>nav>img{
    width: 9%;
    margin-top: -1.7vw;
    padding-top :20px;
    color: white;
}
#right-nv>button{
    padding:10px 20px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid white;
    color: whitesmoke;
    font-family: a;
    font-size: 12px;
}
.bottom-page1{
    position: absolute;
    bottom: 5%;
    left: 15%;
    height: 40vh;
    width: 50vw;
}
.bottom-page1>h1{
   font-family: a;
   font-size: 5vw;
   color: white;
   font-weight: 100;
    line-height: 1;

}
.bottom-page2{
    position: absolute;
    bottom: 0%;
    height: 30%;
    width: 100%;

}
.bottom-page2{
    font-family: a;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: space-between;
    color: white;
}
.bottom-page2>button{
    padding:7px 50px;
    border-radius: 50px;
    background-color: #0b48ed;
    border: 1px solid white;
    color: whitesmoke;
    font-family: a;
    font-size: 12px;
}
.bottom-page2>h4{
    font-size: 1.3vw;
    font-weight: 100;
    color: white;
}
#page2{
    display: flex;
    align-items: start;
    font-family: a;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color:#0b48ed;
    position: relative;
    padding: 0vw 8vw;
}
#page2>h3{
    font-weight: 100;
    margin-bottom: 2vw;
    color: white;
}
#page2>h1{
    width: 80%;
    font-size: 3vw;
    line-height: 1.3;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.339);

}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#0b48ed;
}
#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
}
#page4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1137ca;
    font-family: a;
}
#page4>h4{
    margin-left: 10vw;
    margin-bottom: 2vw;
}
#page4>h1{
    margin-left: 10vw;
    width:70%;
    font-size: 3vw;
}